<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="KafkaBroker" value="10.200.10.68:9092,10.200.10.69:9092,10.200.10.67:9092"/>
    <!--<add key="KafkaBroker" value="10.200.10.67:9092"/>-->
    <!--<add key="KafkaBroker" value="10.200.10.68:9092" />-->
    <!--kafka的TopicName-->
    <add key="KafkaTopicName" value="Test_2020" />
  </appSettings>
</configuration>